{
  "presets": [
	  "react",
	  [
    	"env"
    ],
	  "stage-0"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "lib",
      "style": true
    }],
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "react-loadable/babel"
   ]
}
