**/__mocks__/**
**/__tests__/**
bin
api
node_modules
static
src
lib/__tests__
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.travis.yml
app.json
circle.yml
karma.conf.js
CHANGELOG.md
CONTRIBUTING.md
yarn.lock
server.babel.js
tests.webpack.js
webpack-assets.json
